@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('reset.css');
@import url('pages/Adm.css');
@import url('pages/Menu.css');
@import url('pages/Home.css');
@import url('pages/Food.css');
@import url('pages/UserHome.css');
@import url('pages/ChiefHome.css');
@import url('pages/ChiefLogin.css');
@import url('pages/DevelopmentPage.css');
@import url('pages/ChiefActives.css');
@import url('components/head.css');
@import url('components/footer.css');
@import url('components/navbar.css');
@import url('components/user_navbar.css');
@import url('components/back_button.css');

:root{
    --backgroung-default-color: rgb(237, 237, 237);
    --box-default-color: rgb(238, 238, 238);
    --text-default-color: rgb(23, 23, 23);
    --title-default-color: rgb(23, 23, 23);
    --shadow-default-color: rgb(23, 23, 23);
    --font-family: 'Roboto', sans-serif;
}

* {
    font-family: var(--font-family);
}
/* I have a idea, change menu color with different styles */