.chief-login-container {
    background-color: #3e3f5b80;
    position: absolute;
    height: 97.9%;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.chief-login-container.visible {
    visibility: visible;
    opacity: 1;
}

.chief-login-box {
    width: 300px;
    height: 310px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 6px 7px 31px 0px rgba(0,0,0,0.42);
}

.login-home-chief-profile {
    background-image: url(https://c7.alamy.com/comp/2AF8H7T/chef-cook-linear-icon-kitchen-worker-thin-line-illustration-contour-symbol-vector-isolated-outline-drawing-2AF8H7T.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    width: 87px;
    height: 87px;
    border: 5px solid black;
    border-radius: 100%;

}